@charset "utf-8";
body {
	cursor: default;
	background-color: #dce1e4;
	color: #202126;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
}
div {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	outline: none;
}
#bodydiv {
	text-align: left;
	width: 960px;
}
#bannerdiv {
	height: 194px;
	width: 940px;
}
a#logo {
	float: left;
	position: absolute;
	width: 313px;
	height: 194px;
	text-indent: -9999px;
	background: url(img/logo.png);
	margin-left: -30px;
}
#navid {
	margin-top: 40px;
	float: right;
}
ul#nav {
	float: left;
	list-style-type: none;
	list-style-position: inside;
}
ul#nav li {
	border-top: solid 3px #444751;
	border-bottom: solid 1px #444751;
	float: left;
}
ul#nav li a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	padding: 7px 10px 7px 10px;
	color: #444751;
}
ul#nav li a:hover, ul#nav li .navactive {
	color: #e1e5e8;
	background-color: #444751;
}
.bodymodule {
	width: 940px;
	border-top: solid 5px #0084d3;
}
#featured {
	background: url(img/featuredbg.png) repeat;
	height: 300px;
}
.container {
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
#featuredcnt {
	width: 940px;
	height: 300px;
}
.slides {
	position: absolute;
	left: 0;
	top: 0;
}
#featuredsli {
	height: 300px;
}
.slidecontent {
	display: block;
}
.slidecontent img {
	position: relative;
	float: left;
}
#fslidecontent1, #fslidecontent2, #fslidecontent3, #fslidecontent4 {
	height: 300px;
	width: 940px;
}
.featuredtext {
	color: #dce1e4;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	position: relative;
	margin-top: 80px;
	margin-left: 20px;
}
.ftexttitle {
	width: 360px;
	color: #00aeef;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
.ftext {
	width: 340px;
	text-indent: -20px;
	margin-left: 20px;
	margin-top: 3px;
}
#fboxtitle {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	width: 940px;
	height: 44px;
	background: url(img/nextbackbg.png) repeat;
}
#fboxtitletxt {
	float: left;
	font-size: 17px;
	text-transform: uppercase;
	color: #444751;
	margin-left: 15px;
	margin-top: 14px;
}
#nextbackwrap {
	float: right;
	margin-right: 15px;
	margin-top: 4px;
}
a.slider-button-left {
	background: transparent url(img/back.png) no-repeat scroll 0 0;
	border: medium none;
	float: left;
	height: 37px;
	text-indent:-9999px;
	width: 37px;
}
a.slider-button-left:hover {
	background: transparent url(img/back_over.png) no-repeat scroll 0 0;
}
a.slider-button-right {
	background: transparent url(img/next.png) no-repeat scroll 0 0;
	border: medium none;
	float: left;
	height: 37px;
	text-indent: -9999px;
	width: 37px;
}
a.slider-button-right:hover {
	background:transparent url(img/next_over.png) no-repeat scroll 0 0;
}
#homepage {
	background: url(img/nextbackbg.png) repeat-x;
	margin-top: 10px;
	float: left;
	background-color: #e6e6e6;
	border: none;
	padding-bottom: 20px;
}
.box {
	font-family: Arial, Helvetica, sans-serif;
	color: #444751;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 15px;
}
#jupitech {
	width: 350px;
}
.boxtitle {
	width: 100%;
	float: left;
	font-weight: bold;
	font-size: 17px;
	text-transform: uppercase;
	border-bottom: solid 1px #444751;
}
.boxtext {
	width: 100%;
	float: left;
	font-size: 13px;
	padding-top: 12px;
	background: url(img/boxtextbg.png) top right no-repeat;
}
#whoweare {
	width: 520px;
}
#whowearecnt {
	margin-top: 5px;
	width: 520px;
	height: 106px;
}
#whowearesli {
	width: 520px;
}
img.who {
	border: solid 3px #444751;
}
#whowearecnt:hover img.who {
	border: solid 3px #0084d3;
}
.whotext {
	height: 106px;
	float: left;
	position: relative;
	margin-left: 20px;
}
.whotitle {
	width: 360px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
.wtext {
	width: 360px;
	margin-top: 3px;
}
#nextbackwrap2 {
	float: left;
	margin-left: 45px;
	margin-top: 7px;
}
a#back2 {
	background: transparent url(img/back2.png) no-repeat scroll 0 0;
	height: 19px;
	width: 19px;
}
a#back2:hover {
	background: transparent url(img/back2_over.png) no-repeat scroll 0 0;
}
a#next2 {
	background: transparent url(img/next2.png) no-repeat scroll 0 0;
	height: 19px;
	width: 19px;
}
a#next2:hover {
	background: transparent url(img/next2_over.png) no-repeat scroll 0 0;
}
a#seeguys {
	float: right;
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #444751;
	font-variant: small-caps;
}
a#seeguys:hover {
	color: #00aeef;
}
#services {
	width: 570px;
}
#contactus {
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	color: #dce1e4;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 15px;
	background: url(img/featuredbg.png) repeat;
	border-bottom: solid 1px #FFF;
	border-right: solid 1px #FFF;
	border-top: solid 1px #222;
	border-left: solid 1px #222;
}
#footer {
	border-top: solid 1px #EEE;
	background: url(img/footerbg.png) #444751 repeat-x;
	float: left;
	width: 100%;
	height: 150px;
}
#footercontent {
	width: 960px;
	text-align: left;
}
a#footerlogo {
	float: left;
	width: 313px;
	height: 150px;
	background-image: url(img/footerlogo.png);
	position: absolute;
	margin-left: -80px;
}
#copy {
	float: right;
	color: #dce1e4;
	margin-top: 25px;
	margin-right: 20px;
	font-size: 13px;
}
#copy a {
	color: #dce1e4;
}
#copy a:hover {
	color: #00aeef;
}
